body {
    background-image: url('descarga.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    margin-top: 25%;
    background-color: lightblue;
    width: fit-content;
    height: fit-content;
    float: inherit;
    margin: auto;
    text-align: center;
    
}
#ciudad {
    font-size: medium;
    color: yellow;
    font-weight: bold;
}
#temp {
    font-size: xx-large;
    color: green;
    font-weight: bolder;
    animation: blinker 1s infinite;
    
}

img { align-content: center;
      width: 35px;
    height: 35px;}
@keyframes blinker {
    50% {
    opacity: 0;
    }
    }
